micronPro-backend/.config/*
micronPro-worker/
micronPro-frontend/
micronPro-worker/
micronPro-backend/__pycache__/
micronPro-backend/utils/__pycache__/
micronPro-backend/endpoints/job_blueprint.py
.DS_Store
micronPro-backend/endpoints/__pycache__/job_blueprint.cpython-38.pyc
micronPro-backend/endpoints/__pycache__/job_blueprint.cpython-38.pyc
